<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" beStrictAboutTestsThatDoNotTestAnything="false" bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory suffix=".php">./tests/Scanner</directory>
        </testsuite>
        <testsuite name="Feature Tests">
            <directory suffix=".php">./tests/Sanitizer</directory>
        </testsuite>
        <testsuite name="Stream Tests">
            <directory suffix=".php">./tests/Stream</directory>
        </testsuite>
        <testsuite name="Decoder Tests">
            <directory suffix=".php">./tests/Decoder</directory>
        </testsuite>
        <testsuite name="Memory Safety Tests">
            <file>./tests/MemorySafetyTest.php</file>
        </testsuite>
        <testsuite name="Core Tests">
            <file>./tests/NameSanitizerTest.php</file>
            <file>./tests/FileSanitizerTest.php</file>
            <file>./tests/FileSanitizerDataInputTest.php</file>
        </testsuite>
        <testsuite name="Dto Tests">
            <directory suffix=".php">./tests/Dto</directory>
        </testsuite>
        <testsuite name="MimeDetector Tests">
            <directory suffix=".php">./tests/MimeDetector</directory>
        </testsuite>
        <testsuite name="Fuzz Tests">
            <file>./tests/FuzzTest.php</file>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
</phpunit>
